/**
 * @Author: hzhu
 * @Date:   2024-10-31 14:45:49
 * @Last Modified by:   hzhu
 * @Last Modified time: 2024-10-31 19:19:37
 */
@font-face {
    font-family: "Cascadia";
    src: url("../fonts/CascadiaMono.woff2") format("woff2"); /* 使用 CascadiaMono */
}

body {
    font-size: 18px;
    zoom: 100%;
}


/* 使用更高优先级的选择器确保代码块的样式生效 */
div.highlight pre,
div.highlight .hll,
div.highlight-text pre {
    font-family: "Cascadia", monospace !important;
    font-size: 1.2ex !important; /* 根据需要调整 */
}